.container__show {
  display: flex;
  justify-content: center;
}

.grid-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 30%;
  justify-content: center;
  align-items: center;
}

.card__show {
  width: 50%;
  background-color: hsl(235, 24%, 19%);
  margin-bottom: 10px;
  box-shadow: 5px 20px 35px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.btn-card {
  display: flex;
  justify-content: flex-end;
}

.btn-notesShow {
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.input__search {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25%;
}

.input__search input {
  width: 50%;
  border: none;
  height: 30px;
  padding: 3px 20px;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 5px 20px 35px rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .card__show {
    width: 80%;
  }
  .grid-card {
    top: 40%;
  }
  .input__search input {
    width: 80%;
  }
  .input__search {
    top: 32%;
  }
}
